### Initializing cell

In [5]:
import pandas as pd
df = pd.read_csv("data\\T_games_dataset.csv")
df

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
0,1500571355,5-25R6ZT3L9,2023-05-22,29688,Скидки,890257,The Night of the Rabbit,299.00,1.0,M,28,UGR,Москва,73552,0.0
1,1500571245,5-2P4Z5VSMF,2023-05-22,28574,Ролевые (RPG),1436296,Ni no Kuni Wrath of the White Witch Remastered,269.85,1.0,M,26,GRD,Москва,281417,0.0
2,1500573164,5-YGO64ONA,2023-05-24,30659,Казуальные игры,1179848,KeyWe - The 100th Annual Grand Ol' Telepost To...,77.00,1.0,M,30,GRD,Москва,86000,0.0
3,1500364601,5-1VA0D94LX,2022-10-23,29688,Скидки,1204914,GTFO,1675.01,1.0,M,24,GRD,Самара,56000,283.0
4,1500288143,5-1QCUV9SY7,2022-07-03,28577,Экшн,1314503,Neon White,550.00,1.0,M,38,GRD,Санкт-Петербург,32000,1676.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88694,1500300796,5-355R05SQ3,2022-07-23,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,18,SCH,Москва,170486,0.0
88695,1500302138,5-2IKJ0HXNU,2022-07-25,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,19,UGR,Самара,38000,0.0
88696,1500351510,5-8EVSLK13,2022-10-05,28577,Экшн,1406123,Dome Keeper - Deluxe Edition,561.60,1.0,M,33,SCH,Краснодар,230000,0.0
88697,1500476540,5-122LQCE7M,2023-02-13,28574,Ролевые (RPG),848895,Gothic Universe Edition,59.80,1.0,M,37,GRD,Москва,170000,0.0
88698,1500463949,5-U2IQQ7BO,2023-01-30,28577,Экшн,847741,METAL GEAR SOLID V: The Definitive Experience,999.01,1.0,M,25,GRD,Уфа,86000,0.0

### Correlation matrix

In [6]:
numeric_df = df.select_dtypes(include=[float,int])
correlation_matrix = numeric_df.corr()
correlation_matrix

,id,category_id,good_id,good_price,good_cnt,age,monthly_income_amt,steam_popularity_score
id,1.000000,0.123616,0.374713,0.079111,NaN,-0.110476,-0.034600,-0.011402
category_id,0.123616,1.000000,0.008595,0.166359,NaN,-0.033827,0.003557,-0.068590
good_id,0.374713,0.008595,1.000000,0.267472,NaN,0.011241,0.008738,0.016732
good_price,0.079111,0.166359,0.267472,1.000000,NaN,0.062653,0.063729,-0.136922
good_cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,-0.110476,-0.033827,0.011241,0.062653,NaN,1.000000,0.098496,-0.018706
monthly_income_amt,-0.034600,0.003557,0.008738,0.063729,NaN,0.098496,1.000000,-0.002438
steam_popularity_score,-0.011402,-0.068590,0.016732,-0.136922,NaN,-0.018706,-0.002438,1.000000

### Data cleaning

In [7]:
clearDf = df.loc[(df["age"] >= 14) & (df["monthly_income_amt"] >= 0)]
clearDf

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
0,1500571355,5-25R6ZT3L9,2023-05-22,29688,Скидки,890257,The Night of the Rabbit,299.00,1.0,M,28,UGR,Москва,73552,0.0
1,1500571245,5-2P4Z5VSMF,2023-05-22,28574,Ролевые (RPG),1436296,Ni no Kuni Wrath of the White Witch Remastered,269.85,1.0,M,26,GRD,Москва,281417,0.0
2,1500573164,5-YGO64ONA,2023-05-24,30659,Казуальные игры,1179848,KeyWe - The 100th Annual Grand Ol' Telepost To...,77.00,1.0,M,30,GRD,Москва,86000,0.0
3,1500364601,5-1VA0D94LX,2022-10-23,29688,Скидки,1204914,GTFO,1675.01,1.0,M,24,GRD,Самара,56000,283.0
4,1500288143,5-1QCUV9SY7,2022-07-03,28577,Экшн,1314503,Neon White,550.00,1.0,M,38,GRD,Санкт-Петербург,32000,1676.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88694,1500300796,5-355R05SQ3,2022-07-23,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,18,SCH,Москва,170486,0.0
88695,1500302138,5-2IKJ0HXNU,2022-07-25,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,19,UGR,Самара,38000,0.0
88696,1500351510,5-8EVSLK13,2022-10-05,28577,Экшн,1406123,Dome Keeper - Deluxe Edition,561.60,1.0,M,33,SCH,Краснодар,230000,0.0
88697,1500476540,5-122LQCE7M,2023-02-13,28574,Ролевые (RPG),848895,Gothic Universe Edition,59.80,1.0,M,37,GRD,Москва,170000,0.0
88698,1500463949,5-U2IQQ7BO,2023-01-30,28577,Экшн,847741,METAL GEAR SOLID V: The Definitive Experience,999.01,1.0,M,25,GRD,Уфа,86000,0.0

In [8]:
numeric_df = clearDf.select_dtypes(include=[float,int])
correlation_matrix = numeric_df.corr()
correlation_matrix

,id,category_id,good_id,good_price,good_cnt,age,monthly_income_amt,steam_popularity_score
id,1.000000,0.127074,0.376679,0.087945,NaN,-0.073910,-0.042501,-0.018053
category_id,0.127074,1.000000,0.009984,0.169055,NaN,-0.036636,0.003695,-0.071515
good_id,0.376679,0.009984,1.000000,0.274275,NaN,0.025438,0.006499,0.016291
good_price,0.087945,0.169055,0.274275,1.000000,NaN,0.046189,0.072741,-0.135010
good_cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,-0.073910,-0.036636,0.025438,0.046189,NaN,1.000000,0.064685,-0.010683
monthly_income_amt,-0.042501,0.003695,0.006499,0.072741,NaN,0.064685,1.000000,-0.003372
steam_popularity_score,-0.018053,-0.071515,0.016291,-0.135010,NaN,-0.010683,-0.003372,1.000000