### Initializing cell

In [28]:
import pandas as pd
df = pd.read_csv("data\\T_games_dataset.csv")
df

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
0,1500571355,5-25R6ZT3L9,2023-05-22,29688,Скидки,890257,The Night of the Rabbit,299.00,1.0,M,28,UGR,Москва,73552,0.0
1,1500571245,5-2P4Z5VSMF,2023-05-22,28574,Ролевые (RPG),1436296,Ni no Kuni Wrath of the White Witch Remastered,269.85,1.0,M,26,GRD,Москва,281417,0.0
2,1500573164,5-YGO64ONA,2023-05-24,30659,Казуальные игры,1179848,KeyWe - The 100th Annual Grand Ol' Telepost To...,77.00,1.0,M,30,GRD,Москва,86000,0.0
3,1500364601,5-1VA0D94LX,2022-10-23,29688,Скидки,1204914,GTFO,1675.01,1.0,M,24,GRD,Самара,56000,283.0
4,1500288143,5-1QCUV9SY7,2022-07-03,28577,Экшн,1314503,Neon White,550.00,1.0,M,38,GRD,Санкт-Петербург,32000,1676.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88694,1500300796,5-355R05SQ3,2022-07-23,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,18,SCH,Москва,170486,0.0
88695,1500302138,5-2IKJ0HXNU,2022-07-25,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,19,UGR,Самара,38000,0.0
88696,1500351510,5-8EVSLK13,2022-10-05,28577,Экшн,1406123,Dome Keeper - Deluxe Edition,561.60,1.0,M,33,SCH,Краснодар,230000,0.0
88697,1500476540,5-122LQCE7M,2023-02-13,28574,Ролевые (RPG),848895,Gothic Universe Edition,59.80,1.0,M,37,GRD,Москва,170000,0.0
88698,1500463949,5-U2IQQ7BO,2023-01-30,28577,Экшн,847741,METAL GEAR SOLID V: The Definitive Experience,999.01,1.0,M,25,GRD,Уфа,86000,0.0

### Correlation matrix

In [29]:
numeric_df = df.select_dtypes(include=[float,int])
correlation_matrix = numeric_df.corr()
correlation_matrix

,id,category_id,good_id,good_price,good_cnt,age,monthly_income_amt,steam_popularity_score
id,1.000000,0.123616,0.374713,0.079111,NaN,-0.110476,-0.034600,-0.011402
category_id,0.123616,1.000000,0.008595,0.166359,NaN,-0.033827,0.003557,-0.068590
good_id,0.374713,0.008595,1.000000,0.267472,NaN,0.011241,0.008738,0.016732
good_price,0.079111,0.166359,0.267472,1.000000,NaN,0.062653,0.063729,-0.136922
good_cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,-0.110476,-0.033827,0.011241,0.062653,NaN,1.000000,0.098496,-0.018706
monthly_income_amt,-0.034600,0.003557,0.008738,0.063729,NaN,0.098496,1.000000,-0.002438
steam_popularity_score,-0.011402,-0.068590,0.016732,-0.136922,NaN,-0.018706,-0.002438,1.000000

### Data cleaning

In [30]:
clearDf = df[(df["age"] >= 14) & (df["monthly_income_amt"] >= 0)]
clearDf

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
0,1500571355,5-25R6ZT3L9,2023-05-22,29688,Скидки,890257,The Night of the Rabbit,299.00,1.0,M,28,UGR,Москва,73552,0.0
1,1500571245,5-2P4Z5VSMF,2023-05-22,28574,Ролевые (RPG),1436296,Ni no Kuni Wrath of the White Witch Remastered,269.85,1.0,M,26,GRD,Москва,281417,0.0
2,1500573164,5-YGO64ONA,2023-05-24,30659,Казуальные игры,1179848,KeyWe - The 100th Annual Grand Ol' Telepost To...,77.00,1.0,M,30,GRD,Москва,86000,0.0
3,1500364601,5-1VA0D94LX,2022-10-23,29688,Скидки,1204914,GTFO,1675.01,1.0,M,24,GRD,Самара,56000,283.0
4,1500288143,5-1QCUV9SY7,2022-07-03,28577,Экшн,1314503,Neon White,550.00,1.0,M,38,GRD,Санкт-Петербург,32000,1676.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88694,1500300796,5-355R05SQ3,2022-07-23,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,18,SCH,Москва,170486,0.0
88695,1500302138,5-2IKJ0HXNU,2022-07-25,28577,Экшн,848833,Apex Legends: 1000 Coins - DLC,749.00,1.0,M,19,UGR,Самара,38000,0.0
88696,1500351510,5-8EVSLK13,2022-10-05,28577,Экшн,1406123,Dome Keeper - Deluxe Edition,561.60,1.0,M,33,SCH,Краснодар,230000,0.0
88697,1500476540,5-122LQCE7M,2023-02-13,28574,Ролевые (RPG),848895,Gothic Universe Edition,59.80,1.0,M,37,GRD,Москва,170000,0.0
88698,1500463949,5-U2IQQ7BO,2023-01-30,28577,Экшн,847741,METAL GEAR SOLID V: The Definitive Experience,999.01,1.0,M,25,GRD,Уфа,86000,0.0

### Correlation matrix after cleaning

In [31]:
numeric_df = clearDf.select_dtypes(include=[float,int])
correlation_matrix = numeric_df.corr()
correlation_matrix

,id,category_id,good_id,good_price,good_cnt,age,monthly_income_amt,steam_popularity_score
id,1.000000,0.127074,0.376679,0.087945,NaN,-0.073910,-0.042501,-0.018053
category_id,0.127074,1.000000,0.009984,0.169055,NaN,-0.036636,0.003695,-0.071515
good_id,0.376679,0.009984,1.000000,0.274275,NaN,0.025438,0.006499,0.016291
good_price,0.087945,0.169055,0.274275,1.000000,NaN,0.046189,0.072741,-0.135010
good_cnt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,-0.073910,-0.036636,0.025438,0.046189,NaN,1.000000,0.064685,-0.010683
monthly_income_amt,-0.042501,0.003695,0.006499,0.072741,NaN,0.064685,1.000000,-0.003372
steam_popularity_score,-0.018053,-0.071515,0.016291,-0.135010,NaN,-0.010683,-0.003372,1.000000

### Analysis user orders count

In [43]:
clientsWithOrderCount = clearDf["client_id"].value_counts().reset_index().set_index("client_id")
clientsWithOrderCount

             count
client_id
5-2DQMHMC43    279
5-2FLMLXKNR    240
5-22IBTMQRG    149
5-1BAV9XWDT    146
5-19AL2GTWV    124
...            ...
5-8VM6CZQ1       1
5-35AICU0J9      1
5-2IITEQ9QT      1
5-146X4GMB4      1
5-U2IQQ7BO       1

[36048 rows x 1 columns]

In [33]:
oneUser = clearDf[clearDf["client_id"] == "5-2DQMHMC43"]
oneUser

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
266,1500601869,5-2DQMHMC43,2023-06-24,28577,Экшн,1124267,Timberman VS,24.40,1.0,M,39,GRD,Новосибирск,26000,3555.0
612,1500617739,5-2DQMHMC43,2023-07-11,30659,Казуальные игры,1127143,The Rosebud Condominium,59.80,1.0,M,39,SCH,Новосибирск,26000,0.0
752,1500702124,5-2DQMHMC43,2023-09-25,28577,Экшн,1720700,Hotshot Racing,43.50,1.0,M,39,UGR,Новосибирск,26000,0.0
1224,1500601822,5-2DQMHMC43,2023-06-24,30659,Казуальные игры,1124230,Mastema: Out of Hell,13.00,1.0,M,39,GRD,Новосибирск,26000,0.0
1311,1500623493,5-2DQMHMC43,2023-07-20,28562,Приключения,847796,Where the Water Tastes Like Wine,142.00,1.0,M,39,GRD,Новосибирск,26000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86622,1500524021,5-2DQMHMC43,2023-03-24,28574,Ролевые (RPG),880490,Pathfinder: Wrath of the Righteous - Enhanced ...,449.70,1.0,M,39,SCH,Новосибирск,26000,176.0
87007,1500548491,5-2DQMHMC43,2023-04-24,28577,Экшн,1123848,Excubitor,87.25,1.0,M,39,UGR,Новосибирск,26000,0.0
87204,1500543575,5-2DQMHMC43,2023-04-16,28577,Экшн,848859,Double Dragon Trilogy,149.00,1.0,M,39,SCH,Новосибирск,26000,0.0
87292,1500601740,5-2DQMHMC43,2023-06-24,28555,Стратегии,1124214,Earth 2150 Trilogy,14.90,1.0,M,39,GRD,Новосибирск,26000,4187.0
87692,1500606807,5-2DQMHMC43,2023-06-30,28587,Аркады,849047,Arcade Classics Anniversary Collection,87.00,1.0,M,39,UGR,Новосибирск,26000,0.0

In [34]:
oneUser.sort_values("order_day")

,id,client_id,order_day,category_id,category_name,good_id,good_name,good_price,good_cnt,gender_cd,age,education_level,city_nm,monthly_income_amt,steam_popularity_score
73548,1500332587,5-2DQMHMC43,2022-09-10,28574,Ролевые (RPG),1392680,Neptunia x SENRAN KAGURA: Ninja Wars,651.00,1.0,M,39,UGR,Новосибирск,26000,0.0
82799,1500523349,5-2DQMHMC43,2023-03-23,28565,Симуляторы,887302,Potion Craft: Alchemist Simulator,360.00,1.0,M,39,SCH,Новосибирск,26000,524.0
86622,1500524021,5-2DQMHMC43,2023-03-24,28574,Ролевые (RPG),880490,Pathfinder: Wrath of the Righteous - Enhanced ...,449.70,1.0,M,39,SCH,Новосибирск,26000,176.0
50408,1500524036,5-2DQMHMC43,2023-03-24,28555,Стратегии,1204923,Pathfinder: Wrath of the Righteous - Season Pa...,269.70,1.0,M,39,GRD,Новосибирск,26000,0.0
9159,1500524039,5-2DQMHMC43,2023-03-24,28568,Инди,1204921,Pathfinder: Wrath of the Righteous - Commander...,180.00,1.0,M,39,GRD,Новосибирск,26000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,1500739667,5-2DQMHMC43,2023-10-17,28568,Инди,1587419,Dark Deity,220.00,1.0,M,39,SCH,Уфа,26000,3170.0
65868,1500739672,5-2DQMHMC43,2023-10-17,28568,Инди,1685431,Patch Quest,329.40,1.0,M,39,SCH,Москва,26000,48.0
20546,1500739665,5-2DQMHMC43,2023-10-17,28574,Ролевые (RPG),1124017,Crouching Pony Hidden Dragon,37.80,1.0,M,39,SCH,Краснодар,26000,0.0
73957,1500739674,5-2DQMHMC43,2023-10-17,28577,Экшн,1124017,Crouching Pony Hidden Dragon,37.80,1.0,M,39,GRD,Воронеж,26000,0.0
46226,1500739664,5-2DQMHMC43,2023-10-17,28577,Экшн,1124156,The Protagonist: EX-1,116.25,1.0,M,39,GRD,Воронеж,26000,0.0

### Grouping by client_id and calculating mean for numeric columns

In [36]:
numeric_cols = clearDf.select_dtypes(include=['float64', 'int64']).columns
numeric_means = clearDf.groupby('client_id')[numeric_cols].mean()

### Grouping by client_id and calculating mode for string columns

In [37]:
string_cols = clearDf.select_dtypes(include=['object']).columns
string_modes = clearDf.groupby('client_id')[string_cols].agg(pd.Series.mode)

### Since mode can return multiple values for ties, we'll take the first mode

In [38]:
for col in string_modes:
    string_modes[col] = string_modes[col].apply(lambda x: x[0] if isinstance(x, pd.Series) else x)

### Merging the two results

In [44]:
result_df = pd.concat([numeric_means, string_modes, clientsWithOrderCount], axis=1)

### Display the first few rows of the result

In [45]:
result_df.head()

,id,category_id,good_id,good_price,good_cnt,age,monthly_income_amt,steam_popularity_score,client_id,order_day,category_name,good_name,gender_cd,education_level,city_nm,count
client_id,,,,,,,,,,,,,,,,
1-11B0XBL,1.500649e+09,28561.000000,1.424173e+06,359.60,1.0,35.0,20000.0,0.000000,1-11B0XBL,2023-08-20,Хоррор,Scorn (STEAM),M,UGR,Москва,1
1-14HPC7Z,1.500329e+09,28562.000000,1.127136e+06,29.00,1.0,42.0,386000.0,0.000000,1-14HPC7Z,2022-09-05,Приключения,Noise,M,UGR,Нижний Новгород,1
1-15GSF3N,1.500358e+09,28555.000000,1.392682e+06,133.00,1.0,36.0,16400.0,0.000000,1-15GSF3N,2022-10-13,Стратегии,Crusader Kings III: Friends & Foes - DLC,M,UGR,Омск,1
1-17GCAKP,1.500323e+09,28561.000000,1.127136e+06,7.25,1.0,48.0,62000.0,0.000000,1-17GCAKP,2022-08-28,Хоррор,Noise,M,PGR,Екатеринбург,1
1-1AJFCHX,1.500347e+09,28558.076923,9.745868e+05,628.77,1.0,36.0,230000.0,21.692308,1-1AJFCHX,2022-09-11,Стратегии,"[Age of Wonders 4, Europa Universalis IV: Empe...",M,UGR,Москва,13

### Create the df with only the necessary columns

In [48]:
result_df_short = result_df[["age", "gender_cd", "education_level", 'city_nm', "monthly_income_amt", "steam_popularity_score", "category_name", "good_price", "count"]]
result_df_short

,age,gender_cd,education_level,city_nm,monthly_income_amt,steam_popularity_score,category_name,good_price,count
client_id,,,,,,,,,
1-11B0XBL,35.0,M,UGR,Москва,20000.0,0.000000,Хоррор,359.600000,1
1-14HPC7Z,42.0,M,UGR,Нижний Новгород,386000.0,0.000000,Приключения,29.000000,1
1-15GSF3N,36.0,M,UGR,Омск,16400.0,0.000000,Стратегии,133.000000,1
1-17GCAKP,48.0,M,PGR,Екатеринбург,62000.0,0.000000,Хоррор,7.250000,1
1-1AJFCHX,36.0,M,UGR,Москва,230000.0,21.692308,Стратегии,628.770000,13
...,...,...,...,...,...,...,...,...,...
7-3LB1WGM5N,17.0,M,SCH,Москва,127039.0,803.000000,Экшн,350.710000,1
7-3LD4MQHZH,27.0,M,SCH,"[Воронеж, Красноярск, Санкт-Петербург]",290000.0,337.666667,Стратегии,2970.256667,3
7-3LDM3SGMU,15.0,M,SCH,Екатеринбург,253215.0,0.000000,Файтинги,6548.380000,1
7-3LDU97X2M,19.0,M,GRD,Москва,8000.0,0.000000,Бестселлеры,399.600000,1
7-3LFKWX6UG,19.0,M,"[GRD, SCH]","[Краснодар, Пермь]",305856.5,0.000000,"[Инди, Экшн]",957.700000,2

### Writing user data to csv

In [51]:
result_df_short.to_csv("data\\users.csv")